.popup-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.9);
    display: flex;
}

.popup{
    padding: 30px;
    max-width: 80vw;
    margin: auto auto;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 1px;
    align-items: center;
}

.popup .img-notfound{
    width: 350px;
}

.popup p{
    font-size: 22px;
    font-family: futura-pt;
    font-style: normal;
    color: rgba(29,29,29,.7);
}


  @media only screen and (max-width: 600px) {

    
    .popup .img-notfound{
        width: 70vw;
    }
    .popup{
        margin: 10vh auto;
        padding: 0px;

    }

    h1{
        font-size: 30px;
    }

    .popup p{
        font-size: 18px;
    }
    
  }